name: Metrics
on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"
  push:
    branches: ["main", "master"]

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Harsh1925
          template: classic
          base: header, activity, community
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_limit: 8
          plugin_languages_details: percentage
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_display: detailed
          filename: github-metrics.svg
          output_action: commit
