name: Metrics
on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Harsh1925
          template: classic
          base: header, activity, community, repositories

          # Languages
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_limit: 8
          plugin_languages_details: percentage
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 30
          plugin_languages_threshold: 2%

          # “Nice-looking” stable extras
          plugin_stars: yes
          plugin_followup: yes
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_types: commit

          filename: github-metrics.svg
          output_action: commit
